In [1]:
import numpy as np
import pandas as pd

In [8]:
ser = pd.Series(np.random.random(5), name="Column 01")

In [3]:
ser

0    0.754027
1    0.136386
2    0.380736
3    0.067622
4    0.912169
Name: Column 01, dtype: float64

In [4]:
ser[2]

0.38073601835842097

In [5]:
from pandas_datareader import data as wb

In [6]:
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [7]:
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,15.625000,15.437500,15.468750,15.593750,3318400.0,6.362394
1995-01-04,15.656250,15.312500,15.531250,15.468750,2218800.0,6.311395
1995-01-05,15.437500,15.218750,15.375000,15.250000,2319600.0,6.222139
1995-01-06,15.406250,15.156250,15.156250,15.281250,3438000.0,6.234891
1995-01-09,15.406250,15.187500,15.343750,15.218750,1795200.0,6.209391
...,...,...,...,...,...,...
2020-01-17,127.000000,125.879997,126.349998,126.410004,11315200.0,125.663414
2020-01-21,126.620003,124.839996,126.410004,126.089996,8553100.0,125.345299
2020-01-22,126.680000,125.830002,126.330002,126.309998,7396700.0,125.563995
2020-01-23,126.550003,123.650002,124.300003,124.989998,11096500.0,124.989998
2020-01-24,126.790001,124.769997,125.220001,125.139999,9508100.0,125.139999

In [9]:
PG.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6310 entries, 1995-01-03 to 2020-01-24
Data columns (total 6 columns):
High         6310 non-null float64
Low          6310 non-null float64
Open         6310 non-null float64
Close        6310 non-null float64
Volume       6310 non-null float64
Adj Close    6310 non-null float64
dtypes: float64(6)
memory usage: 345.1 KB

In [10]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   6.362394
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   6.311395
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   6.222139
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   6.234891
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   6.209391

In [11]:
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-17,127.000000,125.879997,126.349998,126.410004,11315200.0,125.663414
2020-01-21,126.620003,124.839996,126.410004,126.089996,8553100.0,125.345299
2020-01-22,126.680000,125.830002,126.330002,126.309998,7396700.0,125.563995
2020-01-23,126.550003,123.650002,124.300003,124.989998,11096500.0,124.989998
2020-01-24,126.790001,124.769997,125.220001,125.139999,9508100.0,125.139999

In [12]:
PG.head(20)

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   6.362394
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   6.311395
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   6.222139
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   6.234891
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   6.209391
1995-01-10  15.43750  15.18750  15.28125  15.40625  4364000.0   6.285892
1995-01-11  15.59375  15.37500  15.59375  15.37500  3738400.0   6.273140
1995-01-12  15.53125  15.31250  15.37500  15.53125  3307600.0   6.336892
1995-01-13  15.84375  15.53125  15.59375  15.62500  3992800.0   6.522122
1995-01-16  15.96875  15.75000  15.90625  15.75000  3677200.0   6.574298
1995-01-17  15.81250  15.65625  15.71875  15.81250  2437600.0   6.600387
1995-01-18  15.75000  15.43750  15.68750  15.46875  3535200.0   6.456901
1995-01-19  15.40625  15.34375  15.34375  15.40625  2491200.0   6.430813
1995-01-20  15.40625  15.25000  15.40625  15.34375  5130800.0   6.404722
1995-01-23  15.50000  15.18750  15.18750  15.50000  3147200.0   6.469945
1995-01-24  15.53125  15.37500  15.50000  15.46875  2016400.0   6.456901
1995-01-25  15.78125  15.43750  15.50000  15.68750  2802400.0   6.548209
1995-01-26  15.84375  15.68750  15.71875  15.75000  3124000.0   6.574298
1995-01-27  16.25000  15.81250  15.81250  16.18750  6247200.0   6.756919
1995-01-30  16.56250  16.09375  16.12500  16.43750  5226400.0   6.861269

In [13]:
PG.tail(20)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-26,125.750000,124.870003,125.099998,125.220001,4760400.0,124.480438
2019-12-27,126.300003,125.389999,125.559998,126.089996,5192000.0,125.345299
2019-12-30,125.980003,124.139999,125.760002,124.470001,3884300.0,123.734871
2019-12-31,124.989998,123.949997,124.430000,124.900002,4798900.0,124.162331
2020-01-02,124.730003,122.940002,124.500000,123.410004,8130800.0,122.681129
2020-01-03,123.529999,121.860001,122.160004,122.580002,7970500.0,121.856033
2020-01-06,123.190002,122.379997,122.570000,122.750000,6674400.0,122.025024
2020-01-07,123.209999,121.870003,122.879997,121.989998,7583400.0,121.269508
2020-01-08,123.430000,122.000000,122.190002,122.510002,5385100.0,121.786446
2020-01-09,123.879997,122.510002,122.510002,123.849998,5944000.0,123.118530
2020-01-10,124.320000,123.300003,123.900002,123.970001,3927100.0,123.237823
2020-01-13,124.900002,123.809998,124.000000,124.879997,8409200.0,124.142441
2020-01-14,125.199997,124.480003,124.650002,124.690002,7829700.0,123.953568
2020-01-15,126.120003,125.010002,125.059998,125.959999,4843700.0,125.216064
2020-01-16,126.779999,125.589996,126.110001,126.070000,6233700.0,125.325417
2020-01-17,127.000000,125.879997,126.349998,126.410004,11315200.0,125.663414
2020-01-21,126.620003,124.839996,126.410004,126.089996,8553100.0,125.345299
2020-01-22,126.680000,125.830002,126.330002,126.309998,7396700.0,125.563995
2020-01-23,126.550003,123.650002,124.300003,124.989998,11096500.0,124.989998
2020-01-24,126.790001,124.769997,125.220001,125.139999,9508100.0,125.139999

In [14]:
tickers = ['PG', 'MSFT', 'T', 'F', 'GE']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = wb.DataReader(t, data_source='yahoo', start='1995-1-1')['Adj Close']

In [15]:
new_data.tail()

                    PG        MSFT          T     F     GE
Date
2020-01-17  125.663414  167.100006  38.380001  9.16  11.81
2020-01-21  125.345299  166.500000  38.520000  9.21  11.66
2020-01-22  125.563995  165.699997  39.040001  9.16  11.37
2020-01-23  124.989998  166.720001  38.630001  9.14  11.77
2020-01-24  125.139999  165.039993  38.500000  9.00  11.71

In [16]:
# IEX
PG = wb.DataReader('PG', data_source='iex', start='2015-01-01')

ValueError: The IEX Cloud API key must be provided either through the api_key variable or through the  environment variable IEX_API_KEY

In [17]:
import quandl

ModuleNotFoundError: No module named 'quandl'